<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #00463d;">
      <div class="container-fluid">
        <a class="navbar-brand mr-auto" href="/index.html">
          <img src="/assets/brand/na-logo-white.svg" alt="" height="22" class="align-text-top">
          Revista „Noua Acropolă”
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto md-3">
            <li class="nav-item">
              <a class="nav-link" href="#">Ultima ediție</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/revista/all_editions.html">Toate edițiile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/editura/intro.html">Editura</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>